In [213]:
import pandas as pd
import json

seasons = range(2022, 2023)

gplus_data = pd.DataFrame()
for yr in seasons:
    print(f"Grabbing G+ for {yr}")
    url = f"https://app.americansocceranalysis.com/api/v1/mls/players/goals-added?season_name={yr}&split_by_teams=true&split_by_seasons=true"
    tmp = pd.read_json(url)
    tmp['season'] = yr
    gplus_data = gplus_data.append(tmp, ignore_index=True)
    
    gk_url = f"https://app.americansocceranalysis.com/api/v1/mls/goalkeepers/goals-added?season_name={yr}&split_by_teams=true&split_by_seasons=true"
    gk_tmp = pd.read_json(gk_url)
    gk_tmp['season'] = yr
    gk_tmp['general_position'] = 'GK'
    gplus_data = gplus_data.append(gk_tmp, ignore_index=True)
    
gplus_data

Grabbing G+ for 2022

,player_id,team_id,season_name,general_position,minutes_played,data,season
0,0Oq630dXQ6,kaDQ0wRqEv,2022,W,1896,"[{'action_type': 'Dribbling', 'goals_added_raw...",2022
1,0Oq632k7Q6,jYQJ19EqGR,2022,CM,1046,"[{'action_type': 'Dribbling', 'goals_added_raw...",2022
2,0Oq633dAQ6,EKXMeX3Q64,2022,AM,307,"[{'action_type': 'Dribbling', 'goals_added_raw...",2022
3,0Oq63JA7Q6,X0Oq66zq6D,2022,CB,1376,"[{'action_type': 'Dribbling', 'goals_added_raw...",2022
4,0Oq63lbzQ6,kRQabn8MKZ,2022,FB,44,"[{'action_type': 'Dribbling', 'goals_added_raw...",2022
...,...,...,...,...,...,...,...
780,wvq9o3BMWn,mvzqoLZQap,2022,GK,3398,"[{'action_type': 'Claiming', 'goals_added_raw'...",2022
781,XVqKneW501,jYQJ19EqGR,2022,GK,2679,"[{'action_type': 'Claiming', 'goals_added_raw'...",2022
782,XVqKYjZaM0,Z2vQ1xlqrA,2022,GK,2033,"[{'action_type': 'Claiming', 'goals_added_raw'...",2022
783,xW5pxy3l5g,a2lqR4JMr0,2022,GK,3498,"[{'action_type': 'Claiming', 'goals_added_raw'...",2022
784,xW5pxyxB5g,WBLMvYAQxe,2022,GK,197,"[{'action_type': 'Claiming', 'goals_added_raw'...",2022

In [214]:
salaries = pd.DataFrame()

for yr in seasons:
    print(f"Grabbing $ for {yr}")
    url = f"https://app.americansocceranalysis.com/api/v1/mls/players/salaries?season_name={yr}"
    tmp = pd.read_json(url)
    tmp['season'] = yr
    salaries = salaries.append(tmp, ignore_index=True)
    
salaries

Grabbing $ for 2022

,player_id,team_id,season_name,position,base_salary,guaranteed_compensation,mlspa_release,season
0,0Oq630dXQ6,kaDQ0wRqEv,2022,F,1650000,1650000,2022-04-15,2022
1,0Oq632k7Q6,jYQJ19EqGR,2022,M,110000,129423,2022-04-15,2022
2,0Oq633dAQ6,EKXMeX3Q64,2022,F,130000,136118,2022-04-15,2022
3,0Oq638a6Q6,mKAqBBmqbg,2022,M,66724,76438,2022-04-15,2022
4,0Oq63JA7Q6,X0Oq66zq6D,2022,D,140000,157000,2022-04-15,2022
...,...,...,...,...,...,...,...,...
836,zeQZXgxD5K,kRQand1MKZ,2022,D,85444,87361,2022-04-15,2022
837,zeQZXlXx5K,mKAqBBmqbg,2022,D,90000,93000,2022-04-15,2022
838,zeQZXr4g5K,KAqBN0Vqbg,2022,D,450000,520000,2022-04-15,2022
839,zeQZXXm15K,Z2vQ1xlqrA,2022,M,65500,65500,2022-04-15,2022
840,zeQZzPgQKw,gpMOLwl5zy,2022,F,650000,716667,2022-04-15,2022

In [215]:
salaries = salaries[['season_name','player_id', 'team_id','guaranteed_compensation']]
salaries

     season_name   player_id     team_id  guaranteed_compensation
0           2022  0Oq630dXQ6  kaDQ0wRqEv                  1650000
1           2022  0Oq632k7Q6  jYQJ19EqGR                   129423
2           2022  0Oq633dAQ6  EKXMeX3Q64                   136118
3           2022  0Oq638a6Q6  mKAqBBmqbg                    76438
4           2022  0Oq63JA7Q6  X0Oq66zq6D                   157000
..           ...         ...         ...                      ...
836         2022  zeQZXgxD5K  kRQand1MKZ                    87361
837         2022  zeQZXlXx5K  mKAqBBmqbg                    93000
838         2022  zeQZXr4g5K  KAqBN0Vqbg                   520000
839         2022  zeQZXXm15K  Z2vQ1xlqrA                    65500
840         2022  zeQZzPgQKw  gpMOLwl5zy                   716667

[841 rows x 4 columns]

In [216]:
player_list = salaries[salaries.player_id.notna() == True].player_id.unique().tolist()
player_list

['0Oq630dXQ6',
 '0Oq632k7Q6',
 '0Oq633dAQ6',
 '0Oq638a6Q6',
 '0Oq63JA7Q6',
 '0Oq63P32Q6',
 '0Oq63v4rQ6',
 '0Oq63Ym2Q6',
 '0Oq6bAPq6D',
 '0Oq6ENn256',
 '0Oq6l8YgM6',
 '0Oq6lJPzM6',
 '0Oq6lLZgM6',
 '0Oq6lm4zM6',
 '0Oq6lnlrM6',
 '0Oq6LpLgM6',
 '0Oq6lrerM6',
 '0Oq6lyNdM6',
 '0Oq6w947Q6',
 '0Oq6wB7zQ6',
 '0Oq6wel7Q6',
 '0Oq6wjLrQ6',
 '0Oq6wjlzQ6',
 '0Oq6wjzgQ6',
 '0Oq6woOxQ6',
 '0Oq6wv26Q6',
 '0Oq6wxj6Q6',
 '0Oq6wyrPQ6',
 '0x5g2EwmM7',
 '0x5g2KPRM7',
 '0x5g2LVRM7',
 '0x5g2lywM7',
 '0x5g2XBjM7',
 '0x5g2xoXM7',
 '0x5g2Z8ZM7',
 '0x5gLEGRq7',
 '0x5gLLjRq7',
 '0x5gLm2bq7',
 '0x5gLpbwq7',
 '0x5gP9Jjq7',
 '0x5gPGKPq7',
 '0x5gPK4Xq7',
 '0x5gPvZRq7',
 '0x5gvyXM7O',
 '0x5gWwmL57',
 '0x5gXlrq7O',
 '0x5gZ9mM7O',
 '0x5gZDPM7O',
 '2lqR7YEaQr',
 '2lqRj4jxqr',
 '2lqRjDAAqr',
 '2lqRjjpDqr',
 '2lqRjjpxqr',
 '2lqRjkEJqr',
 '2lqRjL12qr',
 '2lqRjZp2qr',
 '2lqRk1raQr',
 '2lqRk3gDQr',
 '2lqRk3lnQr',
 '2lqRkmAWQr',
 '2lqRknk2Qr',
 '2lqRkoYxQr',
 '2lqRkPknQr',
 '2lqRkWjJQr',
 '2lqRkwRnQr',
 '2lqRkYZnQr',
 '2lqRkZXDQr',
 '2lqRpEnMr0',
 '2lqRR4Rxqr',
 '2lqRR8gnqr',
 '2lqRRJ2Lqr',
 '2lqRRj84qr',
 '2lqRRkw2qr',
 '2lqRRvNxqr',
 '2lqRRZy2qr',
 '2vQ12LKMrA',
 '2vQ1441wqr',
 '2vQ14B6Kqr',
 '2vQ14E1Kqr',
 '2vQ14E3lqr',
 '2vQ14nnLqr',
 '2vQ1dVAwqr',
 '2vQ1L20Oqr',
 '2vQ1L4XOqr',
 '2vQ1LD8Oqr',
 '2vQ1LYxbqr',
 '2vQ1LYY0qr',
 '2vQ1N1r4Mr',
 '2vQ1NO0OMr',
 '2vQ1Nv7LMr',
 '315V7An9q9',
 '315V7EGvq9',
 '315V7zn7q9',
 '315VDkYQ9x',
 '315Ve68YM9',
 '315VelRbM9',
 '315VkJ1Yq9',
 '315VPg0EQ9',
 '315VPGP7Q9',
 '315VPoB6Q9',
 '315VPPBEQ9',
 '315VPxlGQ9',
 '315VPZmnQ9',
 '315VXDObQ9',
 '315VXepvQ9',
 '315VXNkGQ9',
 '315VXoL7Q9',
 '315VXPJEQ9',
 '315VXpO9Q9',
 '315VXyJXQ9',
 '315Vz8n59x',
 '4JMA1m7MKg',
 '4JMA2D75Kg',
 '4JMA97YkMK',
 '4JMA9GAYMK',
 '4JMA9R42MK',
 '4JMAaaxkMK',
 '4JMAaDp2MK',
 '4JMAam67MK',
 '4JMAaoa7MK',
 '4JMAaogDMK',
 '4JMAk7nkqK',
 '4JMAkkK1qK',
 '4JMAkzG1qK',
 '4JMAoJgYqK',
 '4JMAoJNkqK',
 '4JMAoL97qK',
 '4JMAolz1qK',
 '4JMAoZr1qK',
 '4wM42Belqj',
 '4wM42eXAqj',
 '4wM42jPpqj',
 '4wM42Zd4qj',
 '4wM4a9Gl5j',
 '4wM4aBOp5j',
 '4wM4an045j',
 '4wM4J8bNqj',
 '4wM4JGblqj',
 '4wM4JGRNqj',
 '4wM4JkaAqj',
 '4wM4JlEyqj',
 '4wM4JmKAqj',
 '4wM4Jwdzqj',
 '4wM4JxWpqj',
 '4wM4JyWBqj',
 '7vQ73KrGQD',
 '7vQ73NxYQD',
 '7vQ73orEQD',
 '7vQ73wYGQD',
 '7vQ7BardqD',
 '7vQ7BBR8qD',
 '7vQ7BmAzqD',
 '7vQ7Bmj8qD',
 '7vQ7Bvx8qD',
 '7vQ7BYdeqD',
 '7vQ7J9k2qD',
 '7vQ7r9ODqD',
 '7vQ7rA7YqD',
 '7vQ7rKGYqD',
 '7vQ7rmxEqD',
 '7vQ7rPpOqD',
 '7vQ7rvNDqD',
 '7vQ7rVvGqD',
 '7vQ7rYLOqD',
 '7vQ7xDEDMD',
 '7vQ7xgKOMD',
 '7vQ7xXx8MD',
 '7VqG00bXQv',
 '7VqG00lAQv',
 '7VqG00yjQv',
 '7VqG013AQv',
 '7VqG01AzQv',
 '7VqG044WQv',
 '7VqG08vjQv',
 '7VqG08wXQv',
 '7VqG0dN3Qv',
 '7VqG0EkYQv',
 '7VqG0oaYQv',
 '7VqG0wE6Qv',
 '7VqG376xqv',
 '7VqG3Onxqv',
 '7VqG3zbWqv',
 '7VqGj3RA5v',
 '7VqGj7ee5v',
 '7VqGJAXx5v',
 '7VqGjBpz5v',
 '7VqGjDBX5v',
 '7VqGjDgY5v',
 '7VqGjKre5v',
 '7VqGjPKj5v',
 '7VqGjPwe5v',
 '7VqGjwB65v',
 '7VqGjZZA5v',
 '7VqGmob3Mv',
 '7VqGmOljMv',
 '7VqGoadqvW',
 '9vQ223NeQK',
 '9vQ22Ap9QK',
 '9vQ22BR7QK',
 '9vQ22jRLQK',
 '9vQ22nALQK',
 '9vQ22OOoQK',
 '9vQ22pVaQK',
 '9vQ2d3X75K',
 '9vQ2dAKY5K',
 '9vQ2dRnL5K',
 '9vQ2dyB95K',
 '9vQ2dZe15K',
 '9vQ2dZE15K',
 '9vQ2kxaMK6',
 '9vQ2YEmqK6',
 '9vQ2ZaBoQK',
 '9vQ2ZdlYQK',
 '9vQ2ZjbmQK',
 '9vQ2ZNGLQK',
 '9vQ2Zrj1QK',
 '9Yqd640kMv',
 '9Yqd6OVEMv',
 '9Yqd6yrkMv',
 '9Yqd6zJLMv',
 '9Yqd6zwjMv',
 '9YqdoBDO5v',
 '9YqdobRm5v',
 '9Yqdoey95v',
 '9YqdogzE5v',
 '9YqdokXR5v',
 '9YqdolyR5v',
 '9YqdoZeR5v',
 '9YqdY2mRQv',
 '9z5k71be5A',
 '9z5k7rej5A',
 '9z5k7X9J5A',
 '9z5k7zAl5A',
 '9z5ka8adQA',
 '9z5kakyJQA',
 '9z5kamgdQA',
 '9z5karAKQA',
 '9z5kb3yPMA',
 '9z5kGga5A3',
 'a35rK94AqL',
 'a35rKA2AqL',
 'a35rKGpLqL',
 'a35rKYrAqL',
 'a35rKZZwqL',
 'a35rldmeQL',
 'a35rlRnwQL',
 'a35rlyZ4QL',
 'a35ryB2AML',
 'a35rydwBML',
 'a35rymlLML',
 'a35ryngKML',
 'a35ryXO2ML',
 'a35ryZ7bML',
 'aDQ00OGQEv',
 'aDQ0a6jPME',
 'aDQ0a8plME',
 'aDQ0aNE3ME',
 'aDQ0avK3ME',
 'aDQ0l8j3QE',
 'aDQ0lkLBQE',
 'aDQ0LoylQE',
 'aDQ0lpPBQE',
 'aDQ0Nd7l5E',
 'aDQ0NdJP5E',
 'aDQ0NjkG5E',
 'aDQ0NL0R5E',
 'aDQ0Nmyl5E',
 'aDQ0NN635E',
 'aDQ0NN9v5E',
 'aDQ0NNWE5E',
 'aDQ0NVP35E',
 'aDQ0NZOB5E',
 'aDQ0P4rWQE',
 'aDQ0PA8lQE',
 'aDQ0PGdGQE',
 'aDQ0PjnGQE',
 'aDQ0PKPRQE',
 'aDQ0PnvBQE',
 'aDQ0Pv1WQE',
 'aDQ0PwXWQE',
 'BLMv1GlQxe',
 'BLMv6ZyRMx',
 'BLMv70kA5x',
 'BLMv7a2A5x',
 'BLMv7Dl35x',
 'BLMv7DLA5x',
 'BLMv7E4X5x',
 'BLMv7JdW5x',
 'BLMv7L435x',
 'BLMv7o775x',
 'BLMv7ygB5x',
 'BLMv7ZBA5x',
 'BLMvD98qxe',
 'BLMvlgGAqx',
 'BLMvlPy3qx',
 'BLMvly1Oqx',
 'BLMvXJOqxe',
 'BLMvzKKjMx',
 'BLMvzld8Mx',
 'BLMvzPNlMx',
 'e7Mz913GQr',
 'e7Mz9DgGQr',
 'e7Mz9eOGQr',
 'e7Mz9GBOQr',
 'e7Mz9PWjQr',
 'e7MzAxyGQr',
 'e7MzJ3m6Mr',
 'e7MzJVJ7Mr',
 'e7MzKKJ5r0',
 'e7Mzl0O6qr',
 'e7Mzl29Xqr',
 'e7Mzl3gGqr',
 'e7MzlO0Pqr',
 'e7Mzlop7qr',
 'e7MzXrOqr0',
 'e7MzZozPMr',
 'e7MzZpaXMr',
 'EGMP1jAA5a',
 'EGMP1wzA5a',
 'EGMPlOjkMa',
 'EGMPlpRxMa',
 'EGMPlymjMa',
 'EGMPn03kqa',
 'EGMPR8Brqa',
 'EGMPVykqaY',
 'EGMPxA0MaY',
 'EGMPy6A5aY',
 'EGMPZ36rqa',
 'EGMPZo1xqa',
 'EGMPZOJVqa',
 'EGMPZpX6qa',
 'EGMPZXgxqa',
 'eV5D0G2Z5K',
 'eV5D0wXE5K',
 'eV5D9A9qKn',
 'eV5DGBAMKn',
 'eV5Dk7vaMK',
 'eV5Dk92mMK',
 'eV5DL18a5K',
 'eV5DL1xR5K',
 'eV5DL9aZ5K',
 'eV5DLDVJ5K',
 'eV5DLedE5K',
 'eV5DLNDm5K',
 'eV5DLWdm5K',
 'eV5DLY8A5K',
 'eV5DWXJMKn',
 'eV5DzeZaQK',
 'eV5DzJgOQK',
 'eV5DzmaEQK',
 'eV5DzmNmQK',
 'eVq3a0ZgMW',
 'eVq3a8XyMW',
 'eVq3apWvMW',
 'eVq3j1dD5W',
 'eVq3j7aw5W',
 'eVq3jBAv5W',
 'eVq3jBjj5W',
 'eVq3jJV65W',
 'eVq3jpxy5W',
 'eVq3jWWD5W',
 'eVq3jyYV5W',
 'eVq3jYZv5W',
 'eVq3xeNXQW',
 'eVq3xk1VQW',
 'eVq3xvygQW',
 'eVq3xXDDQW',
 'eVq3xXL6QW',
 'eVq3xypvQW',
 'eVq3YXGMWO',
 'eVq3zwj5WO',
 'gjMN6r64MK',
 'gjMNeXBpQK',
 'gjMNjAK4MK',
 'gjMNjWyKMK',
 'gjMNR8xjMK',
 'gjMNRBVDMK',
 'gjMNReABMK',
 'gjMNRlApMK',
 'gjMNRvwBMK',
 'gjMNRVXYMK',
 'gjMNRZE3MK',
 'gjMNv7PpMK',
 'gjMNvjYvMK',
 'gjMNvnjDMK',
 'gjMNvrO4MK',
 'gOMn2geJMw',
 'gOMn66nAMw',
 'gOMn6lylMw',
 'gOMn6NBlMw',
 'gOMn6OlmMw',
 'gOMn6vBBMw',
 'gOMn6X0eMw',
 'gOMnBnmMwN',
 'gOMnl3Yxqw',
 'gOMnl4n6qw',
 'gOMnlA96qw',
 'gOMnldW8qw',
 'gOMnlGbAqw',
 'gOMnlrDeqw',
 'gOMnlWY8qw',
 'gOMnlXymqw',
 'gOMnlYPAqw',
 'gOMnR0BmMw',
 'gOMnR0wlMw',
 'gOMnR6e6Mw',
 'gOMnR96lMw',
 'gOMnRmNmMw',
 'gOMnRnO8Mw',
 'gOMnRPxXMw',
 'gOMnRxreMw',
 'gOMnRzp8Mw',
 'gOMnRzymMw',
 'gOMnYzdxQw',
 'gOMnYZnAQw',
 'gpMO8m25zy',
 'gpMOa0D1qz',
 'gpMOa0lnqz',
 'gpMOa0y1qz',
 'gpMOa627qz',
 'gpMOa6zrqz',
 'gpMOa9aRqz',
 'gpMOaDWrqz',
 'gpMOaDz1qz',
 'gpMOag9Dqz',
 'gpMOawV2qz',
 'gpMOel1Rqz',
 'gpMOo141Mz',
 'gpMOo1PRMz',
 'gpMOoa2RMz',
 'gpMOoO8rMz',
 'gpMOoOERMz',
 'gpMOoOjEMz',
 'gpMOoOjnMz',
 'gpMOoOpOMz',
 'gpMOoY8RMz',
 'gpMOoYj1Mz',
 'gpMOpB15zy',
 'gpMOyGlqzy',
 'gpMOz1KyQz',
 'gpMOzd8rQz',
 'gpMOzE9lQz',
 'gpMOzy4nQz',
 'jYQJ129ZqG',
 'jYQJ1PaVqG',
 'jYQJ1w0GqG',
 'jYQJ1zWBqG',
 'jYQJa30DqG',
 'jYQJa3zDqG',
 'jYQJa67yqG',
 'jYQJa7wWqG',
 'jYQJaAbBqG',
 'jYQJaaBdqG',
 'jYQJaaOEqG',
 'jYQJad7DqG',
 'jYQJaDwkqG',
 'jYQJal6kqG',
 'jYQJamlEqG',
 'jYQJanvVqG',
 'jYQJaXjkqG',
 'jYQJB7wVQG',
 'jYQJBvJGQG',
 'jYQJgDREMG',
 'jYQJgJvdMG',
 'jYQJnAGQGR',
 'jYQJNEyQGR',
 'jYQJOaZMGR',
 'jYQJz0RGQG',
 'jYQJz3rWQG',
 'jYQJzmgEQG',
 'jYQJznnkQG',
 'jYQJzo8ZQG',
 'jYQJzpAkQG',
 'jYQJzWGyQG',
 'jYQJzy1EQG',
 'KAqB92k75b',
 'KAqB97xV5b',
 'KAqB9aJV5b',
 'KAqB9bKv5b',
 'KAqB9EbX5b',
 'KAqB9KxB5b',
 'KAqB9mYm5b',
 'KAqB9oj75b',
 'KAqB9ryV5b',
 'KAqB9Vgm5b',
 'KAqB9XzA5b',
 'KAqBgD4Qbg',
 'KAqBgZVQbg',
 'KAqBjmYXqb',
 'KAqBjOz4qb',
 'KAqBjWZBqb',
 'KAqBjYjvqb',
 'KAqBNbaWqb',
 'KAqBNEpWqb',
 'KAqBNL8mqb',
 'KAqBNnrVqb',
 'KAqBNnYXqb',
 'KAqBNr8Jqb',
 'KAqBNYNXqb',
 'KAqBrrVqbg',
 'KAqBwAWQbg',
 'KPqj7daPQ6',
 'KPqj7DpnQ6',
 'KPqj7jY4Q6',
 'KPqj7OVPQ6',
 'KPqj8YRM6v',
 'KPqjK4w4Q6',
 'KPqjKbg2Q6',
 'KPqjKkPNQ6',
 'KPqjKLjnQ6',
 'KPqjKWmyQ6',
 'KPqjKWwPQ6',
 'KPqjnyNq6v',
 'KPqjo08PQ6',
 'KPqjodRYQ6',
 'KPqjodW4Q6',
 'KPqjonZyQ6',
 'KPqjoVdYQ6',
 'KPqjzJ2q6v',
 'kRQa207YMK',
 'kRQa22abMK',
 'kRQa22wjMK',
 'kRQa2EGYMK',
 'kRQa2j0LMK',
 'kRQa2kY8MK',
 'kRQa2LebMK',
 'kRQabo8gMK',
 'kRQabOZYMK',
 'kRQabvYbMK',
 'kRQaerljQK',
 'kRQaonbo5K',
 'kRQaoNZj5K',
 'kRQaoRPO5K',
 'kRQay0LQKZ',
 'kRQayrjQKZ',
 'KXMe3y6vq6',
 'KXMe4l1Q64',
 'KXMe87ZPQ6',
 'KXMe8EJ6Q6',
 'KXMe8gorQ6',
 'KXMe8gzPQ6',
 'KXMe8JN3Q6',
 'KXMe8jYxQ6',
 'KXMe8Y2vQ6',
 'KXMeAPkM64',
 'KXMeke41q6',
 'KXMekg02q6',
 'KXMeklJ1q6',
 'KXMeko9kq6',
 'KXMekOprq6',
 'KXMekX42q6',
 'KXMeO1kXq6',
 'KXMeO4D6q6',
 'KXMeOde6q6',
 'ljqE2eaAQx',
 'ljqE2ekNQx',
 'ljqE2EWkQx',
 'ljqE2keVQx',
 'ljqE2PwVQx',
 'ljqE2vBzQx',
 'ljqE2VkOQx',
 'ljqE83Y5x0',
 'ljqEj8WNQx',
 'ljqEjjZkQx',
 'ljqEjLaEQx',
 'ljqEjOZEQx',
 'ljqEL93k5x',
 'ljqELmeo5x',
 'ljqEVeEoQx',
 'N6Mm76gZqE',
 'N6Mm78LWqE',
 'N6Mm7DkwqE',
 'N6Mme2GwME',
 'N6MmeGvRME',
 'N6MmeKWLME',
 'N6MmepZxME',
 'N6MmKdJPqE',
 'N6Mmor2ZqE',
 'N6MmorYxqE',
 'N6MmoXVxqE',
 'N6MmW1zgqE',
 'N6MmWAYwqE',
 'N6MmWekZqE',
 'N6MmWzkwqE',
 'NPqxeJ4kQ9',
 'NPqxm7JXQ9',
 'NPqxmbKZQ9',
 'NPqxmgXkQ9',
 'NPqxmk38Q9',
 'NPqxx0vXq9',
 'NPqxxxgmq9',
 'NWMWeDYqlz',
 'NWMWL3XK5l',
 'NWMWL3z75l',
 'NWMWlEAD5l',
 'NWMWlKbN5l',
 'NWMWLO7N5l',
 'NWMWlWle5l',
 'NWMWlX6K5l',
 'NWMWrgeQlz',
 'NWMWV93KQl',
 'NWMWVA9NQl',
 'NWMWVe1KQl',
 'NWMWVeDDQl',
 'NWMWVG8ZQl',
 'NWMWVgnDQl',
 'NWMWVjaDQl',
 'NWMWVR6jQl',
 'NWMWxDN5lz',
 'NWMWXylK5l',
 'Oa5wA7V4Q1',
 'Oa5wAaRjQ1',
 'Oa5wAK7jQ1',
 'Oa5wAK9WQ1',
 'Oa5wAkEBQ1',
 'Oa5wAko8Q1',
 'Oa5wAkz9Q1',
 'Oa5wAkzDQ1',
 'Oa5wAWDAQ1',
 'Oa5wEGBQ14',
 'Oa5wJkgM14',
 'Oa5wV1NBM1',
 'Oa5wV6LWM1',
 'Oa5wVBw8M1',
 'Oa5wVLWAM1',
 'Oa5wVYL4M1',
 'Oa5wVzeWM1',
 'Oa5wXw8q14',
 'Oa5wY8RXQ1',
 'Oa5wYKEXQ1',
 'Oa5wYLD9Q1',
 'odMX70eoQY',
 'odMX70VAQY',
 'odMX7aKWQY',
 'odMX7BGeQY',
 'odMX7XZoQY',
 'odMX8xmrMY',
 'odMXaLW5YL',
 'odMXEazG5Y',
 'odMXj3JqYL',
 'odMXjX2qYL',
 'odMXR02JqY',
 'odMXR4waqY',
 'odMXRLKWqY',
 'odMXRO3xqY',
 'odMXRoXoqY',
 'odMXRxZJqY',
 'OlMl99Jy5L',
 'OlMl9GgN5L',
 'OlMl9jG05L',
 'OlMl9ZOw5L',
 'OlMlam05Lz',
 'OlMle0OR5L',
 'OlMle3AD5L',
 'OlMle7jE5L',
 'OlMleawP5L',
 'OlMleaYN5L',
 'OlMlenEy5L',
 'OlMleyrD5L',
 'OlMlezzg5L',
 'OlMlnxlDqL',
 'OlMlrpyAqL',
 'p6qb0K3M0G',
 'p6qb0L4M0G',
 'p6qbeEd350',
 'p6qbenoB50',
 'p6qbeZ1p50',
 'p6qbgzx4Q0',
 'p6qbOD1bQ0',
 'p6qbOdB4Q0',
 'p6qboeJDQ0',
 'p6qbOeRXQ0',
 'p6qboGWbQ0',
 'p6qbokmpQ0',
 'p6qbOkywQ0',
 'p6qbomNwQ0',
 'p6qbrkpq0G',
 'Pk5L18PYqO',
 'Pk5L1BXPqO',
 'Pk5L1Gk7qO',
 'Pk5L6k6PQO',
 'Pk5Le0VDqO',
 'Pk5Le3JNqO',
 'Pk5Le7ZmqO',
 'Pk5LedyLqO',
 'Pk5LeG0YqO',
 'Pk5LegYPqO',
 'Pk5LemYYqO',
 'Pk5Lg3z7MO',
 'Pk5Lgax7MO',
 'Pk5LgPOmMO',
 'Pk5LgWeGMO',
 'raMy4eBQd2',
 'raMy4ylQd2',
 'raMyA6KRMd',
 'raMyAGEBMd',
 'raMyArxkMd',
 'raMyAW6BMd',
 'raMyAZR2Md',
 'raMyAZyBMd',
 'raMyeneJMd',
 'raMyrgzB5d',
 'raMyrrNJ5d',
 'raMyrrxd5d',
 'raMyrZKR5d',
 'raMyyJaAMd',
 'raMyZXrR5d',
 'Vj587nmM8n',
 'Vj58B64EQ8',
 'Vj58BnDLQ8',
 'Vj58BVBEQ8',
 'Vj58BZ74Q8',
 'Vj58BzJ4Q8',
 'Vj58lyym58',
 'Vj58W0D4M8',
 'Vj58w7RmM8',
 'Vj58WNDrM8',
 'Vj58WX4JM8',
 'Vj58WXb2M8',
 'Vj58WzzJM8',
 'Vj58YwDDq8',
 'Vj58zZ2Q8n',
 'vzqo4GNQap',
 'vzqo70PBqa',
 'vzqo71lNqa',
 'vzqo71rBqa',
 'vzqo721jqa',
 'vzqo78BJqa',
 'vzqo7EpLqa',
 'vzqo7j3Jqa',
 'vzqo7jLvqa',
 'vzqo7joZqa',
 'vzqo7onNqa',
 'vzqo7PoNqa',
 'vzqo7xwjqa',
 'vzqo7XWpqa',
 'vzqo7zdZqa',
 'vzqod90kQa',
 'vzqodD8ZQa',
 'vzqodDnvQa',
 'vzqoddvZQa',
 'vzqodDYYQa',
 'vzqodgRYQa',
 'vzqodkKBQa',
 'vzqoJzL75a',
 'vzqor7PL5a',
 'vzqor9jp5a',
 'vzqordej5a',
 'vzqordwj5a',
 'vzqorjWv5a',
 'vzqorrRk5a',
 'vzqozAB5ap',
 'wvq90Ym5Wn',
 'wvq94NN5Wn',
 'wvq9bOBQWn',
 'wvq9ebLaqW',
 'wvq9edX1qW',
 'wvq9eWbBqW',
 'wvq9eY8YqW',
 'wvq9eZdYqW',
 'wvq9g7AaMW',
 'wvq9gNglMW',
 'wvq9gPmNMW',
 'wvq9gwJZMW',
 'wvq9o3BMWn',
 'wvq9p10l5W',
 'wvq9pAjl5W',
 'wvq9pBZm5W',
 'wvq9ppPN5W',
 'wvq9wYNMWn',
 'Xj5Y68Olqb',
 'Xj5Y6AlAqb',
 'Xj5Y6bvaqb',
 'Xj5Y6ldEqb',
 'Xj5Y6n4Gqb',
 'Xj5Y6nZyqb',
 'Xj5Y87GAMb',
 'Xj5Y8jyyMb',
 'Xj5Y8R7AMb',
 'Xj5Y90xR5b',
 'Xj5Y9bmX5b',
 'Xj5Y9pAa5b',
 'Xj5Y9XZy5b',
 'Xj5Y9zw05b',
 'Xj5YLGKxMb',
 'Xj5YLGRGMb',
 'XVqKear0M0',
 'XVqKeBkKM0',
 'XVqKeEmBM0',
 'XVqKejm0M0',
 'XVqKejrWM0',
 'XVqKelKaM0',
 'XVqKeLV2M0',
 'XVqKeYLNM0',
 'XVqKeYOKM0',
 'XVqKneW501',
 'XVqKWA9Bq0',
 'XVqKWAZBq0',
 'XVqKWGw2q0',
 'XVqKWwWWq0',
 'XVqKWZp2q0',
 'XVqKYGbWM0',
 'XVqKYJDBM0',
 'XVqKYjZaM0',
 'XVqKYp2DM0',
 'XVqKYWG2M0',
 'xW5pbAlQg1',
 'xW5pKvlMg1',
 'xW5prbllQg',
 'xW5prjd6Qg',
 'xW5prK4BQg',
 'xW5prl1KQg',
 'xW5pro36Qg',
 'xW5pw0RGMg',
 'xW5pxaa95g',
 'xW5pxRGB5g',
 'xW5pxy3l5g',
 'xW5pxyxB5g',
 'xW5pygjdqg',
 'xW5pyPEYqg',
 'xW5pypNJqg',
 'xW5pyrwKqg',
 'zeQZ79JKMK',
 'zeQZ7D3xMK',
 'zeQZ7EwZMK',
 'zeQZJ7YgQK',
 'zeQZJaarQK',
 'zeQZJm9jQK',
 'zeQZJN9jQK',
 'zeQZjOPjQK',
 'zeQZjOxDQK',
 'zeQZJX1KQK',
 'zeQZJX6KQK',
 'zeQZJXKDQK',
 'zeQZJxR1QK',
 'zeQZX6OY5K',
 'zeQZXgxD5K',
 'zeQZXlXx5K',
 'zeQZXr4g5K',
 'zeQZXXm15K',
 'zeQZzPgQKw']

In [217]:
import numpy as np

player_data = pd.DataFrame()
chunks = np.array_split(player_list, 50)
for i in range(0, len(chunks)):
    chunk = chunks[i]
    id_list = ','.join(chunk)
    print(f"Grabbing ids for chunk {i} of {len(chunks)}")
    url = f"https://app.americansocceranalysis.com/api/v1/mls/players?player_id={id_list}"
    tmp = pd.read_json(url)
    player_data = player_data.append(tmp, ignore_index=True)
    
player_data

Grabbing ids for chunk 0 of 50
Grabbing ids for chunk 1 of 50
Grabbing ids for chunk 2 of 50
Grabbing ids for chunk 3 of 50
Grabbing ids for chunk 4 of 50
Grabbing ids for chunk 5 of 50
Grabbing ids for chunk 6 of 50
Grabbing ids for chunk 7 of 50
Grabbing ids for chunk 8 of 50
Grabbing ids for chunk 9 of 50
Grabbing ids for chunk 10 of 50
Grabbing ids for chunk 11 of 50
Grabbing ids for chunk 12 of 50
Grabbing ids for chunk 13 of 50
Grabbing ids for chunk 14 of 50
Grabbing ids for chunk 15 of 50
Grabbing ids for chunk 16 of 50
Grabbing ids for chunk 17 of 50
Grabbing ids for chunk 18 of 50
Grabbing ids for chunk 19 of 50
Grabbing ids for chunk 20 of 50
Grabbing ids for chunk 21 of 50
Grabbing ids for chunk 22 of 50
Grabbing ids for chunk 23 of 50
Grabbing ids for chunk 24 of 50
Grabbing ids for chunk 25 of 50
Grabbing ids for chunk 26 of 50
Grabbing ids for chunk 27 of 50
Grabbing ids for chunk 28 of 50
Grabbing ids for chunk 29 of 50
Grabbing ids for chunk 30 of 50
Grabbing ids for chunk 31 of 50
Grabbing ids for chunk 32 of 50
Grabbing ids for chunk 33 of 50
Grabbing ids for chunk 34 of 50
Grabbing ids for chunk 35 of 50
Grabbing ids for chunk 36 of 50
Grabbing ids for chunk 37 of 50
Grabbing ids for chunk 38 of 50
Grabbing ids for chunk 39 of 50
Grabbing ids for chunk 40 of 50
Grabbing ids for chunk 41 of 50
Grabbing ids for chunk 42 of 50
Grabbing ids for chunk 43 of 50
Grabbing ids for chunk 44 of 50
Grabbing ids for chunk 45 of 50
Grabbing ids for chunk 46 of 50
Grabbing ids for chunk 47 of 50
Grabbing ids for chunk 48 of 50
Grabbing ids for chunk 49 of 50

,player_id,player_name,birth_date,nationality,primary_broad_position,primary_general_position,secondary_broad_position,secondary_general_position,season_name,height_ft,height_in,weight_lb
0,0Oq630dXQ6,Kevin Cabral,1999-07-10,France,MF,W,FW,ST,"[2021, 2022]",NaN,NaN,NaN
1,0Oq632k7Q6,Danny Leyva,2003-05-05,USA,MF,CM,NaN,DM,"[2019, 2020, 2021, 2022]",5.0,10.0,139.0
2,0Oq633dAQ6,Griffin Yow,2002-09-25,USA,MF,W,NaN,NaN,"[2019, 2020, 2021, 2022]",5.0,8.0,141.0
3,0Oq638a6Q6,Dominick Hernandez,1998-09-21,USA,NaN,NaN,NaN,NaN,{},NaN,NaN,NaN
4,0Oq63JA7Q6,Wyatt Omsberg,1995-09-21,USA,DF,CB,NaN,NaN,"[2018, 2020, 2021, 2022]",6.0,4.0,181.0
...,...,...,...,...,...,...,...,...,...,...,...,...
836,zeQZXgxD5K,Callum Montgomery,1997-05-14,Canada,NaN,NaN,NaN,NaN,{},6.0,3.0,183.0
837,zeQZXlXx5K,Collin Smith,2003-12-04,USA,NaN,NaN,NaN,NaN,{},5.0,11.0,161.0
838,zeQZXr4g5K,Franco Ibarra,2001-04-28,Argentina,MF,CM,NaN,DM,"[2021, 2022]",5.0,9.0,152.0
839,zeQZXXm15K,Jacob Davis,2002-01-03,USA,FW,ST,NaN,NaN,2022,5.0,10.0,150.0
840,zeQZzPgQKw,Danny Hoesen,1991-01-15,Netherlands,FW,ST,NaN,NaN,"[2017, 2018, 2019, 2020, 2021, 2022]",6.0,1.0,165.0

In [218]:
json_expl_txt = json.loads(gplus_data.explode('data').to_json(orient="records"))
gplus_expl_flat = pd.json_normalize(json_expl_txt)
gplus_expl_flat.head()

,player_id,team_id,season_name,general_position,minutes_played,season,data.action_type,data.goals_added_raw,data.goals_added_above_avg,data.count_actions
0,0Oq630dXQ6,kaDQ0wRqEv,2022,W,1896,2022,Dribbling,-0.6383,-0.7861,314
1,0Oq630dXQ6,kaDQ0wRqEv,2022,W,1896,2022,Fouling,0.5735,0.3591,56
2,0Oq630dXQ6,kaDQ0wRqEv,2022,W,1896,2022,Interrupting,0.7793,-0.0485,113
3,0Oq630dXQ6,kaDQ0wRqEv,2022,W,1896,2022,Passing,-1.1576,-1.0168,550
4,0Oq630dXQ6,kaDQ0wRqEv,2022,W,1896,2022,Receiving,3.1527,0.5550,582

In [219]:
# player_data.birth_date = player_data.birth_date.astype(str)
player_data['birth_datetime'] = pd.to_datetime(player_data.birth_date)
player_data['birth_year'] = player_data.birth_datetime.dt.year
# player_data['league_age'] = pd.Timestamp.today().year - player_data.birth_year
player_data

,player_id,player_name,birth_date,nationality,primary_broad_position,primary_general_position,secondary_broad_position,secondary_general_position,season_name,height_ft,height_in,weight_lb,birth_datetime,birth_year
0,0Oq630dXQ6,Kevin Cabral,1999-07-10,France,MF,W,FW,ST,"[2021, 2022]",NaN,NaN,NaN,1999-07-10,1999.0
1,0Oq632k7Q6,Danny Leyva,2003-05-05,USA,MF,CM,NaN,DM,"[2019, 2020, 2021, 2022]",5.0,10.0,139.0,2003-05-05,2003.0
2,0Oq633dAQ6,Griffin Yow,2002-09-25,USA,MF,W,NaN,NaN,"[2019, 2020, 2021, 2022]",5.0,8.0,141.0,2002-09-25,2002.0
3,0Oq638a6Q6,Dominick Hernandez,1998-09-21,USA,NaN,NaN,NaN,NaN,{},NaN,NaN,NaN,1998-09-21,1998.0
4,0Oq63JA7Q6,Wyatt Omsberg,1995-09-21,USA,DF,CB,NaN,NaN,"[2018, 2020, 2021, 2022]",6.0,4.0,181.0,1995-09-21,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,zeQZXgxD5K,Callum Montgomery,1997-05-14,Canada,NaN,NaN,NaN,NaN,{},6.0,3.0,183.0,1997-05-14,1997.0
837,zeQZXlXx5K,Collin Smith,2003-12-04,USA,NaN,NaN,NaN,NaN,{},5.0,11.0,161.0,2003-12-04,2003.0
838,zeQZXr4g5K,Franco Ibarra,2001-04-28,Argentina,MF,CM,NaN,DM,"[2021, 2022]",5.0,9.0,152.0,2001-04-28,2001.0
839,zeQZXXm15K,Jacob Davis,2002-01-03,USA,FW,ST,NaN,NaN,2022,5.0,10.0,150.0,2002-01-03,2002.0
840,zeQZzPgQKw,Danny Hoesen,1991-01-15,Netherlands,FW,ST,NaN,NaN,"[2017, 2018, 2019, 2020, 2021, 2022]",6.0,1.0,165.0,1991-01-15,1991.0

In [220]:
player_salary = pd.merge(salaries, player_data, left_on="player_id", right_on="player_id")
player_salary = player_salary[["season_name_x","team_id","player_id","player_name","birth_year","guaranteed_compensation","primary_general_position"]]
player_salary['league_age'] = player_salary.season_name_x.astype(int) - player_salary.birth_year
player_salary

,season_name_x,team_id,player_id,player_name,birth_year,guaranteed_compensation,primary_general_position,league_age
0,2022,kaDQ0wRqEv,0Oq630dXQ6,Kevin Cabral,1999.0,1650000,W,23.0
1,2022,jYQJ19EqGR,0Oq632k7Q6,Danny Leyva,2003.0,129423,CM,19.0
2,2022,EKXMeX3Q64,0Oq633dAQ6,Griffin Yow,2002.0,136118,W,20.0
3,2022,mKAqBBmqbg,0Oq638a6Q6,Dominick Hernandez,1998.0,76438,NaN,24.0
4,2022,X0Oq66zq6D,0Oq63JA7Q6,Wyatt Omsberg,1995.0,157000,CB,27.0
...,...,...,...,...,...,...,...,...
836,2022,kRQand1MKZ,zeQZXgxD5K,Callum Montgomery,1997.0,87361,NaN,25.0
837,2022,mKAqBBmqbg,zeQZXlXx5K,Collin Smith,2003.0,93000,NaN,19.0
838,2022,KAqBN0Vqbg,zeQZXr4g5K,Franco Ibarra,2001.0,520000,CM,21.0
839,2022,Z2vQ1xlqrA,zeQZXXm15K,Jacob Davis,2002.0,65500,ST,20.0
840,2022,gpMOLwl5zy,zeQZzPgQKw,Danny Hoesen,1991.0,716667,ST,31.0

In [221]:
grouped_gplus = gplus_expl_flat.groupby(['season_name','team_id','player_id','general_position']).agg({
    'data.goals_added_raw': ['sum'], 
    'minutes_played' : ['mean']
}).reset_index()
grouped_gplus.columns = grouped_gplus.columns.droplevel(level=1)
grouped_gplus['total'] = grouped_gplus['data.goals_added_raw']
grouped_gplus['p96'] = grouped_gplus['data.goals_added_raw'] * 96 / grouped_gplus["minutes_played"]
grouped_gplus = grouped_gplus[['season_name', 'team_id', 'player_id','general_position', 'minutes_played','total', 'p96']]

grouped_gplus

,season_name,team_id,player_id,general_position,minutes_played,total,p96
0,2022,0KPqjA456v,0Oq6wjlzQ6,FB,132.0,0.4748,0.345309
1,2022,0KPqjA456v,0Oq6wxj6Q6,DM,718.0,0.2251,0.030097
2,2022,0KPqjA456v,0x5gLEGRq7,CB,267.0,0.6048,0.217456
3,2022,0KPqjA456v,2lqRkPknQr,FB,1457.0,2.9143,0.192020
4,2022,0KPqjA456v,2lqRkZXDQr,W,3054.0,5.7712,0.181413
...,...,...,...,...,...,...,...
780,2022,zeQZkL1MKw,p6qbokmpQ0,CB,310.0,0.3133,0.097022
781,2022,zeQZkL1MKw,raMyeneJMd,CB,1727.0,1.9971,0.111014
782,2022,zeQZkL1MKw,xW5pKvlMg1,ST,2025.0,3.5388,0.167765
783,2022,zeQZkL1MKw,xW5prK4BQg,W,1849.0,4.9679,0.257933
784,2022,zeQZkL1MKw,zeQZJX6KQK,CM,457.0,0.5813,0.122111

In [222]:
salaried_gplus = pd.merge(grouped_gplus, player_salary, left_on=["season_name", "team_id","player_id"],right_on=["season_name_x", "team_id","player_id"])
salaried_gplus

,season_name,team_id,player_id,general_position,minutes_played,total,p96,season_name_x,player_name,birth_year,guaranteed_compensation,primary_general_position,league_age
0,2022,0KPqjA456v,0Oq6wjlzQ6,FB,132.0,0.4748,0.345309,2022,Jack Skahan,1998.0,84000,CM,24.0
1,2022,0KPqjA456v,0Oq6wxj6Q6,DM,718.0,0.2251,0.030097,2022,Judson,1993.0,425000,DM,29.0
2,2022,0KPqjA456v,0x5gLEGRq7,CB,267.0,0.6048,0.217456,2022,Oskar Aegren,1998.0,65500,CB,24.0
3,2022,0KPqjA456v,2lqRkPknQr,FB,1457.0,2.9143,0.192020,2022,Tommy Thompson,1995.0,280000,FB,27.0
4,2022,0KPqjA456v,2lqRkZXDQr,W,3054.0,5.7712,0.181413,2022,Cristian Espinoza,1995.0,1265000,W,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,2022,zeQZkL1MKw,p6qbokmpQ0,CB,310.0,0.3133,0.097022,2022,Jairo Quinteros,2001.0,85000,CB,21.0
670,2022,zeQZkL1MKw,raMyeneJMd,CB,1727.0,1.9971,0.111014,2022,Ryan Sailor,1998.0,65500,CB,24.0
671,2022,zeQZkL1MKw,xW5pKvlMg1,ST,2025.0,3.5388,0.167765,2022,Gonzalo HiguaÃ­n,1987.0,5793750,ST,35.0
672,2022,zeQZkL1MKw,xW5prK4BQg,W,1849.0,4.9679,0.257933,2022,Ariel Lassiter,1994.0,230280,W,28.0
673,2022,zeQZkL1MKw,zeQZJX6KQK,CM,457.0,0.5813,0.122111,2022,Victor Ulloa,1992.0,250000,DM,30.0

In [223]:
# DPs based on https://en.wikipedia.org/wiki/Designated_Player_Rule for 2022
# U22 based on 
DPs = [
    "N6Mm76gZqE",
    "Pk5LedyLqO",
    "gpMOa0lnqz",
    "KXMekOprq6",
    "gOMn66nAMw",
    "KXMeOaaPq6",
    "KAqB9mYm5b",
    "eVq3jWWD5W",
    "wvq90Ym5Wn",
    "wvq9gNOBMW",
    "eV5DLNDm5K",
    "ljqE2VkOQx",
    "xW5pyrwKqg",
    "EGMPlpRxMa",
    "vzqo7joZqa",
    "Pk5LgAwOMO",
    "zeQZJN9jQK",
    "2lqRpEnMr0",
    "9vQ22BR7QK",
    "EGMPZOJVqa",
    "4JMAam67MK",
    "4JMA1yOMKg",
    "gjMNrbKMKp",
    "vzqo7joZqa",
    "4JMAaRwPMK",
    "aDQ0Pv1WQE",
    "xW5pKvlMg1",
    "XVqKYWG2M0",
    "gOMnBnmMwN",
    # pulido
    # kinda
    "eV5DWXJMKn",
    "0Oq630dXQ6",
    "0Oq6bAPq6D",
    "Oa5wJkgM14",
    "odMXRxV2qY",
    "315VXoL7Q9",
    "Oa5wVYL4M1",
    "gpMOoLXyMz",
    "wvq9wYNMWn",
    "aDQ0PnvBQE",
    "Oa5wY8RXQ1",
    "NWMWL3XK5l",
    "kRQabvYbMK",
    "2vQ1N6yLMr",
    "vzqozAB5ap",
    "vzqorrRk5a",
    "Oa5wAaRjQ1",
    "xW5pxRGB5g",
    "zeQZ7D3xMK",
    "KXMe8gzPQ6",
    "KAqBgZVQbg",
    "Pk5LegYPqO",
    "XVqKeEmBM0",
    "4JMAoL97qK",
    "e7Mz9GBOQr",
    "eV5D9A9qKn",
    "wvq9p10l5W",
    "Oa5wV1NBM1",
    "a35rK9XoqL",
    "KPqjnyNq6v",
    "2lqRkZXDQr",
    "EGMPlymjMa",
    "7vQ7rmxEqD",
    "NWMWeDYqlz",
    "BLMv1GlQxe",
    "2lqRRJ2Lqr",
    "Pk5L1Gk7qO",
    "NWMWnVEQlz",
    "gOMn6oPAMw",
    "OlMlrpyAqL",
    "eVq3jx6G5W",
    "9z5ka8adQA"
]

U22s = [
    "zeQZXr4g5K",
    "9Yqd6zwjMv",
    "KXMe8YjPQ6",
    # lopez,
    "9YqdogzE5v",
    "Xj5Y9bmX5b",
    "ljqE2ekNQx",
    "e7MzJ3m6Mr",
    "BLMv7ZBA5x",
    "7VqG0dN3Qv",
    "eV5Dk7vaMK",
    "jYQJzmgEQG",
    "gOMn6NBlMw",
    "jYQJznnkQG",
    "odMX7aKWQY",
    "wvq9eY8YqW",
    "2lqRjkEJqr",
    "KXMekX42q6",
    "Oa5wVzeWM1",
    "KAqBNEpWqb",
    "Vj58lyym58",
    "jYQJamlEqG",
    "aDQ0NZOB5E",
    "kRQaoj6O5K",
    "BLMv7L435x",
    "7vQ7BYdeqD",
    "7vQ7Bmj8qD",
    "4wM4JyWBqj",
    "BLMv7ygB5x",
    "7VqG08vjQv",
    "4wM4JmKAqj",
    "eV5DzeZaQK",
    "KXMe8EJ6Q6",
    "p6qbomNwQ0",
    "9z5kb3yPMA"
]

In [224]:
salaried_gplus['DP'] = salaried_gplus.player_id.isin(DPs)
salaried_gplus['YDP'] = (salaried_gplus.DP) & (salaried_gplus.league_age <= 23)
salaried_gplus['OldDP'] = (salaried_gplus.DP) & (salaried_gplus.league_age > 24)
salaried_gplus['TAM'] = (salaried_gplus.guaranteed_compensation >= 612500) & (salaried_gplus.guaranteed_compensation < 1612500)
salaried_gplus['U22'] = salaried_gplus.player_id.isin(U22s)
salaried_gplus['roster_desig'] = np.select(
[
    salaried_gplus['YDP'] == True,
    salaried_gplus['OldDP'] == True,
    salaried_gplus['U22'] == True,
    salaried_gplus['TAM'] == True
],
[
    "YDP",
    "DP",
    "U22",
    "TAM"
],default = "Normal")
salaried_gplus

,season_name,team_id,player_id,general_position,minutes_played,total,p96,season_name_x,player_name,birth_year,guaranteed_compensation,primary_general_position,league_age,DP,YDP,OldDP,TAM,U22,roster_desig
0,2022,0KPqjA456v,0Oq6wjlzQ6,FB,132.0,0.4748,0.345309,2022,Jack Skahan,1998.0,84000,CM,24.0,False,False,False,False,False,Normal
1,2022,0KPqjA456v,0Oq6wxj6Q6,DM,718.0,0.2251,0.030097,2022,Judson,1993.0,425000,DM,29.0,False,False,False,False,False,Normal
2,2022,0KPqjA456v,0x5gLEGRq7,CB,267.0,0.6048,0.217456,2022,Oskar Aegren,1998.0,65500,CB,24.0,False,False,False,False,False,Normal
3,2022,0KPqjA456v,2lqRkPknQr,FB,1457.0,2.9143,0.192020,2022,Tommy Thompson,1995.0,280000,FB,27.0,False,False,False,False,False,Normal
4,2022,0KPqjA456v,2lqRkZXDQr,W,3054.0,5.7712,0.181413,2022,Cristian Espinoza,1995.0,1265000,W,27.0,True,False,True,True,False,DP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,2022,zeQZkL1MKw,p6qbokmpQ0,CB,310.0,0.3133,0.097022,2022,Jairo Quinteros,2001.0,85000,CB,21.0,False,False,False,False,False,Normal
670,2022,zeQZkL1MKw,raMyeneJMd,CB,1727.0,1.9971,0.111014,2022,Ryan Sailor,1998.0,65500,CB,24.0,False,False,False,False,False,Normal
671,2022,zeQZkL1MKw,xW5pKvlMg1,ST,2025.0,3.5388,0.167765,2022,Gonzalo HiguaÃ­n,1987.0,5793750,ST,35.0,True,False,True,False,False,DP
672,2022,zeQZkL1MKw,xW5prK4BQg,W,1849.0,4.9679,0.257933,2022,Ariel Lassiter,1994.0,230280,W,28.0,False,False,False,False,False,Normal
673,2022,zeQZkL1MKw,zeQZJX6KQK,CM,457.0,0.5813,0.122111,2022,Victor Ulloa,1992.0,250000,DM,30.0,False,False,False,False,False,Normal

In [225]:
team_roster_gplus = salaried_gplus.groupby(['season_name','team_id','roster_desig']).agg({
    'roster_desig' : ['count'],
    'p96': ['mean'], 
    'minutes_played' : ['sum']
}).reset_index()
team_roster_gplus.columns = team_roster_gplus.columns.droplevel(level=1)
team_roster_gplus.columns = ['season', 'team_id', 'roster_desig', 'count', 'g+/96','total_min']
team_roster_gplus

     season     team_id roster_desig  count     g+/96  total_min
0      2022  0KPqjA456v           DP      3  0.158496     6160.0
1      2022  0KPqjA456v       Normal     16  0.185963    16226.0
2      2022  0KPqjA456v          TAM      6  0.199431    13391.0
3      2022  19vQ2095K6           DP      2  0.336137     4921.0
4      2022  19vQ2095K6       Normal     23  0.121896    27821.0
..      ...         ...          ...    ...       ...        ...
105    2022  vzqoOgNqap          TAM      4  0.135958     6990.0
106    2022  zeQZkL1MKw           DP      1  0.167765     2025.0
107    2022  zeQZkL1MKw       Normal     20  0.081792    21689.0
108    2022  zeQZkL1MKw          TAM      3  0.179202     9452.0
109    2022  zeQZkL1MKw          U22      2  0.373310     2374.0

[110 rows x 6 columns]

In [226]:

# team_roster_gplus
counts = team_roster_gplus.reset_index().groupby(['season','team_id','roster_desig'])['count'].aggregate('first').unstack()
counts

roster_desig        DP  Normal  TAM  U22  YDP
season team_id
2022   0KPqjA456v  3.0    16.0  6.0  NaN  NaN
       19vQ2095K6  2.0    23.0  2.0  NaN  NaN
       9z5k7Yg5A3  1.0    14.0  5.0  NaN  1.0
       APk5LGOMOW  1.0    21.0  2.0  1.0  NaN
       EKXMeX3Q64  1.0    20.0  5.0  1.0  NaN
       KAqBN0Vqbg  2.0    18.0  4.0  2.0  1.0
       NPqxKXZ59d  1.0    22.0  4.0  NaN  NaN
       NWMWlBK5lz  2.0    17.0  4.0  2.0  1.0
       Vj58weDM8n  1.0    11.0  9.0  2.0  1.0
       WBLMvYAQxe  3.0    17.0  3.0  2.0  NaN
       X0Oq66zq6D  1.0    21.0  3.0  1.0  NaN
       YgOMngl5wN  1.0    18.0  4.0  NaN  NaN
       Z2vQ1xlqrA  1.0    15.0  3.0  3.0  NaN
       a2lqR4JMr0  1.0    19.0  4.0  NaN  NaN
       a2lqRX2Mr0  1.0    17.0  4.0  2.0  NaN
       eVq3ya6MWO  1.0    15.0  5.0  1.0  NaN
       gpMOLwl5zy  2.0    16.0  3.0  3.0  NaN
       jYQJ19EqGR  3.0    17.0  5.0  1.0  NaN
       jYQJ8EW5GR  2.0    16.0  3.0  1.0  1.0
       kRQabn8MKZ  2.0    15.0  5.0  NaN  NaN
       kRQand1MKZ  2.0    15.0  5.0  1.0  NaN
       kaDQ0wRqEv  2.0    11.0  6.0  1.0  1.0
       lgpMOvnQzy  2.0    18.0  1.0  3.0  NaN
       mKAqBBmqbg  1.0    13.0  6.0  NaN  2.0
       mvzqoLZQap  1.0    12.0  7.0  2.0  NaN
       pzeQZ6xQKw  1.0    17.0  6.0  1.0  NaN
       vzqoOgNqap  2.0    15.0  4.0  NaN  NaN
       zeQZkL1MKw  1.0    20.0  3.0  2.0  NaN

In [227]:
counts = counts.reset_index().rename_axis(None, axis=1)
counts['category'] = np.select(
[
    (counts['DP'] == 2) & (counts['YDP'] == 1) & (counts['U22'] >= 2),
    (counts['DP'] == 2) & (counts['YDP'] == 1) & (counts['U22'] < 2),
    (counts['DP'] == 3) & (counts['U22'] >= 2),
    (counts['DP'] == 3)
],
[
    "YDP + max U22",
    "YDP + non-max U22",
    "2 overage DP + <MaxTAM overage DP + max U22",
    "3 overage DP + 1 allowed U22"
],default = "No 3rd DP")
counts

,season,team_id,DP,Normal,TAM,U22,YDP,category
0,2022,0KPqjA456v,3.0,16.0,6.0,NaN,NaN,3 overage DP + 1 allowed U22
1,2022,19vQ2095K6,2.0,23.0,2.0,NaN,NaN,No 3rd DP
2,2022,9z5k7Yg5A3,1.0,14.0,5.0,NaN,1.0,No 3rd DP
3,2022,APk5LGOMOW,1.0,21.0,2.0,1.0,NaN,No 3rd DP
4,2022,EKXMeX3Q64,1.0,20.0,5.0,1.0,NaN,No 3rd DP
5,2022,KAqBN0Vqbg,2.0,18.0,4.0,2.0,1.0,YDP + max U22
6,2022,NPqxKXZ59d,1.0,22.0,4.0,NaN,NaN,No 3rd DP
7,2022,NWMWlBK5lz,2.0,17.0,4.0,2.0,1.0,YDP + max U22
8,2022,Vj58weDM8n,1.0,11.0,9.0,2.0,1.0,No 3rd DP
9,2022,WBLMvYAQxe,3.0,17.0,3.0,2.0,NaN,2 overage DP + <MaxTAM overage DP + max U22
10,2022,X0Oq66zq6D,1.0,21.0,3.0,1.0,NaN,No 3rd DP
11,2022,YgOMngl5wN,1.0,18.0,4.0,NaN,NaN,No 3rd DP
12,2022,Z2vQ1xlqrA,1.0,15.0,3.0,3.0,NaN,No 3rd DP
13,2022,a2lqR4JMr0,1.0,19.0,4.0,NaN,NaN,No 3rd DP
14,2022,a2lqRX2Mr0,1.0,17.0,4.0,2.0,NaN,No 3rd DP
15,2022,eVq3ya6MWO,1.0,15.0,5.0,1.0,NaN,No 3rd DP
16,2022,gpMOLwl5zy,2.0,16.0,3.0,3.0,NaN,No 3rd DP
17,2022,jYQJ19EqGR,3.0,17.0,5.0,1.0,NaN,3 overage DP + 1 allowed U22
18,2022,jYQJ8EW5GR,2.0,16.0,3.0,1.0,1.0,YDP + non-max U22
19,2022,kRQabn8MKZ,2.0,15.0,5.0,NaN,NaN,No 3rd DP
20,2022,kRQand1MKZ,2.0,15.0,5.0,1.0,NaN,No 3rd DP
21,2022,kaDQ0wRqEv,2.0,11.0,6.0,1.0,1.0,YDP + non-max U22
22,2022,lgpMOvnQzy,2.0,18.0,1.0,3.0,NaN,No 3rd DP
23,2022,mKAqBBmqbg,1.0,13.0,6.0,NaN,2.0,No 3rd DP
24,2022,mvzqoLZQap,1.0,12.0,7.0,2.0,NaN,No 3rd DP
25,2022,pzeQZ6xQKw,1.0,17.0,6.0,1.0,NaN,No 3rd DP
26,2022,vzqoOgNqap,2.0,15.0,4.0,NaN,NaN,No 3rd DP
27,2022,zeQZkL1MKw,1.0,20.0,3.0,2.0,NaN,No 3rd DP

In [228]:
counts = counts[['season','team_id','category']]
final_gplus_df = pd.merge(team_roster_gplus, counts)
final_gplus_df

,season,team_id,roster_desig,count,g+/96,total_min,category
0,2022,0KPqjA456v,DP,3,0.158496,6160.0,3 overage DP + 1 allowed U22
1,2022,0KPqjA456v,Normal,16,0.185963,16226.0,3 overage DP + 1 allowed U22
2,2022,0KPqjA456v,TAM,6,0.199431,13391.0,3 overage DP + 1 allowed U22
3,2022,19vQ2095K6,DP,2,0.336137,4921.0,No 3rd DP
4,2022,19vQ2095K6,Normal,23,0.121896,27821.0,No 3rd DP
...,...,...,...,...,...,...,...
105,2022,vzqoOgNqap,TAM,4,0.135958,6990.0,No 3rd DP
106,2022,zeQZkL1MKw,DP,1,0.167765,2025.0,No 3rd DP
107,2022,zeQZkL1MKw,Normal,20,0.081792,21689.0,No 3rd DP
108,2022,zeQZkL1MKw,TAM,3,0.179202,9452.0,No 3rd DP
109,2022,zeQZkL1MKw,U22,2,0.373310,2374.0,No 3rd DP

In [229]:
final_gplus_df[(final_gplus_df.team_id == 'KAqBN0Vqbg')]

    season     team_id roster_desig  count     g+/96  total_min       category
18    2022  KAqBN0Vqbg           DP      2  0.283850     4019.0  YDP + max U22
19    2022  KAqBN0Vqbg       Normal     18  0.147682    17266.0  YDP + max U22
20    2022  KAqBN0Vqbg          TAM      4  0.207205     5800.0  YDP + max U22
21    2022  KAqBN0Vqbg          U22      2  0.138917     2619.0  YDP + max U22
22    2022  KAqBN0Vqbg          YDP      1  0.336996     2622.0  YDP + max U22

In [230]:
valid_cat = [
    "YDP + max U22",
    "3 overage DP + 1 allowed U22",
]
valid_roster_desig = ['DP','YDP','U22']
stripped_categories = final_gplus_df[(final_gplus_df.category.isin(valid_cat)) & (final_gplus_df.roster_desig.isin(valid_roster_desig))]
stripped_categories

,season,team_id,roster_desig,count,g+/96,total_min,category
0,2022,0KPqjA456v,DP,3,0.158496,6160.0,3 overage DP + 1 allowed U22
18,2022,KAqBN0Vqbg,DP,2,0.283850,4019.0,YDP + max U22
21,2022,KAqBN0Vqbg,U22,2,0.138917,2619.0,YDP + max U22
22,2022,KAqBN0Vqbg,YDP,1,0.336996,2622.0,YDP + max U22
26,2022,NWMWlBK5lz,DP,2,0.233380,5391.0,YDP + max U22
29,2022,NWMWlBK5lz,U22,2,0.251192,2654.0,YDP + max U22
30,2022,NWMWlBK5lz,YDP,1,0.319319,2409.0,YDP + max U22
66,2022,jYQJ19EqGR,DP,3,0.212811,6771.0,3 overage DP + 1 allowed U22
69,2022,jYQJ19EqGR,U22,1,0.123816,927.0,3 overage DP + 1 allowed U22

In [231]:
team_names = [
    {
        "team_id": "0KPqjA456v",
        "name": "San Jose Earthquakes"
    },
    {
        "team_id": "KAqBN0Vqbg",
        "name": "Atlanta United"
    },
    {
        "team_id": "NWMWlBK5lz",
        "name": "FC Cincinnati"
    },
    {
        "team_id": "jYQJ19EqGR",
        "name": "Seattle Sounders"
    },
    {
        "team_id": "WBLMvYAQxe",
        "name": "Portland Timbers"
    }
]
teams = pd.DataFrame(team_names)
teams

      team_id                  name
0  0KPqjA456v  San Jose Earthquakes
1  KAqBN0Vqbg        Atlanta United
2  NWMWlBK5lz         FC Cincinnati
3  jYQJ19EqGR      Seattle Sounders
4  WBLMvYAQxe      Portland Timbers

In [232]:
team_cats = pd.merge(stripped_categories, teams)
team_cats

,season,team_id,roster_desig,count,g+/96,total_min,category,name
0,2022,0KPqjA456v,DP,3,0.158496,6160.0,3 overage DP + 1 allowed U22,San Jose Earthquakes
1,2022,KAqBN0Vqbg,DP,2,0.283850,4019.0,YDP + max U22,Atlanta United
2,2022,KAqBN0Vqbg,U22,2,0.138917,2619.0,YDP + max U22,Atlanta United
3,2022,KAqBN0Vqbg,YDP,1,0.336996,2622.0,YDP + max U22,Atlanta United
4,2022,NWMWlBK5lz,DP,2,0.233380,5391.0,YDP + max U22,FC Cincinnati
5,2022,NWMWlBK5lz,U22,2,0.251192,2654.0,YDP + max U22,FC Cincinnati
6,2022,NWMWlBK5lz,YDP,1,0.319319,2409.0,YDP + max U22,FC Cincinnati
7,2022,jYQJ19EqGR,DP,3,0.212811,6771.0,3 overage DP + 1 allowed U22,Seattle Sounders
8,2022,jYQJ19EqGR,U22,1,0.123816,927.0,3 overage DP + 1 allowed U22,Seattle Sounders

In [233]:
team_cats = team_cats[['season','team_id','name','category','roster_desig','count','g+/96','total_min']]
team_cats

,season,team_id,name,category,roster_desig,count,g+/96,total_min
0,2022,0KPqjA456v,San Jose Earthquakes,3 overage DP + 1 allowed U22,DP,3,0.158496,6160.0
1,2022,KAqBN0Vqbg,Atlanta United,YDP + max U22,DP,2,0.283850,4019.0
2,2022,KAqBN0Vqbg,Atlanta United,YDP + max U22,U22,2,0.138917,2619.0
3,2022,KAqBN0Vqbg,Atlanta United,YDP + max U22,YDP,1,0.336996,2622.0
4,2022,NWMWlBK5lz,FC Cincinnati,YDP + max U22,DP,2,0.233380,5391.0
5,2022,NWMWlBK5lz,FC Cincinnati,YDP + max U22,U22,2,0.251192,2654.0
6,2022,NWMWlBK5lz,FC Cincinnati,YDP + max U22,YDP,1,0.319319,2409.0
7,2022,jYQJ19EqGR,Seattle Sounders,3 overage DP + 1 allowed U22,DP,3,0.212811,6771.0
8,2022,jYQJ19EqGR,Seattle Sounders,3 overage DP + 1 allowed U22,U22,1,0.123816,927.0

In [234]:
team_cats['general_category'] = np.select(
[
    (team_cats.roster_desig == 'DP'),
    (team_cats.roster_desig == 'YDP') | (team_cats.roster_desig == 'U22')
],
[
    'Old',
    'Young'
], default = None)
team_cats

/Users/akeaswaran/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,season,team_id,name,category,roster_desig,count,g+/96,total_min,general_category
0,2022,0KPqjA456v,San Jose Earthquakes,3 overage DP + 1 allowed U22,DP,3,0.158496,6160.0,Old
1,2022,KAqBN0Vqbg,Atlanta United,YDP + max U22,DP,2,0.283850,4019.0,Old
2,2022,KAqBN0Vqbg,Atlanta United,YDP + max U22,U22,2,0.138917,2619.0,Young
3,2022,KAqBN0Vqbg,Atlanta United,YDP + max U22,YDP,1,0.336996,2622.0,Young
4,2022,NWMWlBK5lz,FC Cincinnati,YDP + max U22,DP,2,0.233380,5391.0,Old
5,2022,NWMWlBK5lz,FC Cincinnati,YDP + max U22,U22,2,0.251192,2654.0,Young
6,2022,NWMWlBK5lz,FC Cincinnati,YDP + max U22,YDP,1,0.319319,2409.0,Young
7,2022,jYQJ19EqGR,Seattle Sounders,3 overage DP + 1 allowed U22,DP,3,0.212811,6771.0,Old
8,2022,jYQJ19EqGR,Seattle Sounders,3 overage DP + 1 allowed U22,U22,1,0.123816,927.0,Young

In [235]:
team_cats.groupby(['season','general_category']).agg({
    "g+/96": 'mean'
}).reset_index()

   season general_category     g+/96
0    2022              Old  0.222134
1    2022            Young  0.234048